
#AboutUs {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

#AboutUs .Abouttxt {
    margin-left: 70px;
    color: white;
    font-size: 1.3em;
}

#AboutUs .Abouttxt h1{
    text-decoration-style: double;  
    font-size: 2.7em;    
  }

  #AboutUs .Abouttxt p{
    width:1200px;
font-size: 1em;
text-align: left;
line-height: 1.5;
  }

  #AboutUs .Spline{
    margin-top: 50px;
    width: 900px;

  }

  #typewriter  {
border-right: solid 3px rgba(255, 0, 153, 0.75);
white-space: normal; /* Allow text wrapping */
overflow: hidden;    
font-family: 'Source Code Pro', monospace;  
font-size: 2em;
color: rgba(255,255,255,.70);
margin: 0;
text-align: center;
transition: text-shadow 0.3s ease, transform 0.3s ease;
cursor: pointer;
}

/* Cursor animations */
@keyframes animated-cursor {
from { border-right-color: rgba(242, 0, 255, 0.75); }
to { border-right-color: rgb(121, 8, 106); }
}

#typewriter  {
animation: animated-cursor 600ms steps(29, end) infinite;
}

/* Highlight effect on hover at word level */
span.word:hover {
text-shadow: 0 0 10px rgba(255, 0, 153, 0.75), 0 0 20px rgba(255, 0, 153, 0.75);
transform: scale(1.1);
}
