/* Container styling for the FAQ section */
#FAQ {
  margin-top: 15%;
}

/* General container for FAQ items */
.faq-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #000000;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(255, 20, 147, 0.2);
}

/* Styling for main FAQ title */
#FAQ h1 {
  text-align: center;
  margin-top: -5%;
  font-size: 5em;
  color: #ffffff;
}

#FAQ h1 span {
  color: #a315b9;
}

/* Styling for individual FAQ items */
.faq-item {
  border-bottom: 1px solid #000000;
  margin-bottom: 10px;
  overflow: hidden;
}

/* Styling for the question button */
.faq-question {
  background-color: #000000;
  color: #fff;
  padding: 15px 20px;
  font-size: 18px;
  border-radius: 8px;
  list-style: none;
  border: 1px solid white;
  display: block;
}

.faq-question:hover {
  background-color: #333;
}

/* Styling for the answer section */
.faq-answer {
  background-color: #111;
  border-radius: 8px;
  margin-top: 10px;
  padding: 15px 20px;
  font-size: 16px;
  color: #ffccff;
}

/* Styling for an open FAQ question */
details[open] .faq-question {
  background-color: #333;
}
