/* Main projects section */
#Projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin-top: 70px;
  }
  
  /* Header inside the projects section */
  #Projects h1 {
    font-size: 6em;
    color: white;
  }
  
  #Projects h1 span {
    color: #a315b9;
  }
  
  /* Project gallery container */
  #Projects .container {
    position: relative;
    width: 100%;
    height: 100%;
    perspective: 7000px;
  }
  
  /* Gallery styling */
  #Projects .gallery {
    position: relative;
    width: 100%;
    height: 400px;
    margin: 0 auto;
    margin-top: -200px;
    transform-style: preserve-3d;
    transform: rotateX(55deg);
    border-radius: 55px;
  }
  
  /* Individual item styling inside the gallery */
  #Projects .item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background: #b0b0b0;
    margin: 5px;
    transform-style: preserve-3d;
  }
  
  /* Image inside the item */
  #Projects img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Preview image container with glowing border */
  #Projects .preview-img {
    position: fixed;
    top: 115%;
    left: 52%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 250px;
    overflow: hidden;
    z-index: 0;
    border-radius: 25px;
    border: 2px solid white;
    box-shadow: 0 0 10px white, 0 0 20px pink, 0 0 30px pink;
  }
  
  /* Hide image container initially */
  .ImageContainer {
    display: none;
  }
  
