/* Reviews section */
#Reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin-top: 200px;
  }
  
  /* Reviews section header */
  #Reviews h1 {
    font-size: 4.7em;
    color: white;
  }
  
  #Reviews span {
    color: #820ea2;
  }
  
  /* Container for review cards */
  .ReviewsCards {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
  }
  
  /* Individual review card */
  .review-card {
    position: relative;
    width: 220px;
    height: 220px;
    background: #000000;
    padding: 30px;
    border-radius: 50%;
    box-shadow: 0 0 22px rgba(180, 2, 147, 0.4);
    transition: 0.6s;
    margin: 0 25px;
  }
  
  /* Hover effect for review card */
  .review-card:hover {
    border-radius: 10px;
    height: 260px;
  }
  
  /* Image container inside each card */
  .review-card .img {
    position: relative;
    width: 100%;
    height: 100%;
    transition: 0.6s;
    z-index: 99;
  }
  
  /* Hover effect for image inside card */
  .review-card:hover .img {
    transform: translateY(-40px);
  }
  
  /* Image inside the review card */
  .img img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 22px #3336;
    transition: 0.6s;
  }
  
  /* Hover effect for image inside the review card */
  .review-card:hover img {
    border-radius: 10px;
  }
  
  /* Caption styling inside the review card */
  .caption {
    text-align: center;
    transform: translateY(-80px);
    opacity: 0;
    transition: 0.6s;
  }
  
  /* Show caption on hover */
  .review-card:hover .caption {
    opacity: 1;
  }
  
  /* Caption header inside the review card */
  .caption h3 {
    font-size: 21px;
    color: #ffffff;
  }
  
  /* Caption paragraph inside the review card */
  .caption p {
    font-size: 15px;
    color: #ffffff;
    margin: -10px 0 9px 0;
  }
  
