/* Team section container */
#team-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  margin-left: 5%;
  margin-top: 4%;
  height: 80vh;
}

/* Second TxtWrapper styling */
.TxtWrapper2 {
  margin-top: 38%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 25px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transform: rotate(7deg) translate(0px, 0px) scale(1, 0.7) skew(-9deg, -13deg);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
}

/* Heading inside TxtWrapper2 */
.TxtWrapper2 h1 {
  font-size: 4em;
  text-transform: uppercase;
  color: white;
  white-space: nowrap;
  padding: 0 6rem;
  letter-spacing: 1px;
  animation: moveRtl 6000ms linear infinite;
  transform: rotate(180deg);
}

/* Keyframes for the moveRtl animation */
@keyframes moveRtl {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Styling for the team cards */
#team-section .card {
  padding: 20px;
  width: 210px;
  height: 310px;
  border-radius: 20px;
  background: #000000;
  box-shadow: 5px 5px 8px #1b1b1b,
              -5px -5px 8px #272727;
  transition: 0.4s;
}

/* Hover effects for the cards */
#team-section .card:hover {
  translate: 0 -10px;
}

/* Card title styling */
#team-section .card-title {
  font-size: 18px;
  font-weight: 600;
  color: #b2eccf;
  margin: 15px 0 0 10px;
}

/* Card image container styling */
#team-section .card-image {
  min-height: 160px;
  background-color: #313131;
  border-radius: 15px;
  background: #00000000;
}

/* Image inside the card */
#team-section .card-image img {
  width: 100%;
  margin-top: 1%;
  border-radius: 25px;
}

/* Card body styling */
#team-section .card-body {
  margin: 13px 0 0 10px;
  color: rgb(184, 184, 184);
  font-size: 15px;
}

